{% extends 'blog_app/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'article/css/article.css' %}">
  <style>
    .size {
      width: 35px; 
      height: 50px;
      border-width: 1px;
      border-style: solid;
    }
    /*edit_message*/
    .editMessage {
    width: 35px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
    }

    .content {
      width: 40px;
      height: 40px;
      background-color: whitesmoke;
    }
  </style>

{% endblock %}

{% block title %}閱讀文章{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col1">
      <h3>{{ article.title }}</h3>
    </div>
    <div class="col-9"></div>
    {% if user.is_authenticated %}
    <div class="col1">
      <a class="btn btn-sm btn-dark" href="{% url 'article:articleUpdate' article.id %}">修改內容</a>
    </div>
    {% endif %}
  </div>
  </div>
  <p>發表時間: {{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
  <div class="articleContent">{{ article.content }}</div>
  <p>
    <i class="fas fa-thumbs-up" style="width: 1.6em;">{{ article.likes.count }}</i>
    {% if user.is_authenticated %}
      <a href="{% url 'article:articleLike' article.id %}">讚</a>
    {% endif %}
  <!--
    使用者一篇文章可以按一次讚，如果已按讚
     1. 不會出現  讚的連結
     2. 出現收回讚的連結
  -->
    <span>共{{ comments|length }}則留言</span>
  </p>
  {% for comment in comments %}
    <div class="mt-1 dropdown show">
      <span class="commentAuthor">
        {% if comment.user.fullName %}
          {{ comment.user.fullName }}:
        {% elif comment.user.is_superuser %}
          管理員:
        {% else %}
          {{ comment.user.first_name }}{{ comment.user.last_name }}:
        {% endif %}
      </span>

      {% if comment.user != user %}
        <span class="h6">{{ comment.content }}</span>
      {% else %}
        <form method="post" action="{% url 'article:commentUpdate' comment.id %}">
          {% csrf_token %}
          <input type="text" name="comment" value="{{ comment.content }}">
          <input class="btn" type="submit" value="修改">
        </form>
        <form method="post" action="{% url 'article:commentDelete' comment.id %}">
          {% csrf_token %}
          <input class="btn deleteConfirm" type="submit" value="刪除">
        </form>
      {% endif %}

      <!--<span class="h6">{{ comment.content }}</span>-->
      {% if comment.user == user %}
        <!--bootstrap dropdown-menu-
          <a class="btn-sm dropdown-toggle" href="#" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ...
        </a>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">編輯</a>
          <a class="dropdown-item" href="#">刪除</a>
        </div>-->

        <!-- div div
        <div class="comment1">
          ...
          <span class="comment2">
            <a style="font-size: small;" href="#">編輯</a>
            <a style="font-size: small;" href="#">刪除</a>
          </span>

        </div>-->
        <!--
        <div id="listBtn" onclick="listBtn()" style="display:inline-block">...</div>
          <div id="textlistn" style="display:none;">
            <a href="https://www.google.com">編輯</a>
            <a href="https://www.yahoo.com.tw">編輯</a>
          </div>-->
        
        <!--css+js
        <a onclick="func()">...</a>
        <div id="divBack" class="content" style="display: none;">
          <a href="#">編輯</a>
          <a href="#">刪除</a>
        </div>-->

      {% endif %}
      <br>
      <span class="text-secondary"><small>{{ comment.pubDateTime|date:'Y-m-d H:i' }}</small></span>
    </div>
  {% endfor %}

  {% if user.is_authenticated %}
    <br>
    <form method="post" action="{% url 'article:commentCreate' article.id %}">
      {% csrf_token %}
      <input type="text" name="comment" placeholder="留言">
      <input class="btn btn-sm btn-dark" type="submit" value="送出">
    </form>
    <br><br>
  {% endif %}
  <a id="aaa" name="aaa" onclick="$('#divShow').show();" href="#">...</a>
    <div id="divShow" name="divShow" class="size editMessage">
      <a href="#" style="font-size: small;">編輯</a>
      <a href="#" style="font-size: small;">刪除</a>
    </div>


{% endblock %}

{% block script %}
<script>
function listBtn() {
  var listBtn = document.getElementById('listBtn');
  var textlistn = document.getElementById('textlistn');
  if (textlistn.style.display === 'none') {
    textlistn.style.display = 'block';
    listBtn.innerText = "...";
  } else {
    textlistn.style.display = 'none';
    listBtn.innerText = "...";
  }
}
</script>

<script type="text/javascript">
  $(function(){
      $("#divShow").hide();
      
      $('body').click(function(evt) {
          if($(evt.target).parents("#divShow").length==0 && 
              evt.target.id != "aaa" && evt.target.id != "divShow") {
              $('#divShow').hide();
          }
      });
  });
</script>

<script>
  function func(){
    var divBack=document.getElementById("divBack");
    console.log(divBack.style.display);
    if(divBack.style.display=="none"){
      divBack.style.display="inline-block"
    }else{
      divBack.style.display="none"
    }
  }
</script>
<script src="{% static 'blog_app/js/deleteConfirm.js' %}"></script>
{% endblock %}