{% extends 'blog_app/base.html' %}
{% load static %}
{% block title %}查詢結果{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
{% endblock %}

{% block content %}
{% if not articles %}
  <p>查無資料</p>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">標題</th>
        <th scope="col">發表時間</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
          <th scope="row"></th>
          <td><a href="{% url 'article:articleRead' article.id %}">{{ article.title }}</a></td>
          <td>{{ article.pubDateTime|date:'Y-m-d H:i' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}