{% extends 'blog_app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
{% endblock %}

{% block title%}文章列表{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <p><a class="btn btn-sm btn-dark" href="{% url 'article:articleCreate' %}">新增文章</a></p>
  {% endif %}
{% for article, comments in articles.items %}
  <div class="container">
    <div class="row">
      <div class="col-3">
      <h3><a href="{% url 'article:articleRead' article.id %}">{{ article.title }}</a></h3>
      </div>
      {% if user.is_authenticated %}
      <div class="col">
      <form method="post" action="{% url 'article:articleDelete' article.id %}">
        {% csrf_token %}
        <input class="btn btn-sm btn-dark deleteConfirm" type="submit" value="刪除">
      </form>
      </div>
      {% endif %}
    </div>
  </div>


  <p>發表時間{{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
  <div class="articleContent">
    <p class="col-10 text-truncate">{{ article.content }}</p> <!--|linebreaks|truncatechars_html-->
    <footer>
    <div>
      <a href="{% url 'article:articleRead' article.id %}">閱讀更多</a>
    </div>
    </footer>
  </div>
  <p>
    <i class="fas fa-thumbs-up" style="width: 1.6em;">{{ article.likes.count }}</i>
    <span>{{ comments|length }}則留言</span>
  </p>
  
  {% for comment in comments %}
    <div class="mt-1">
      <span class="commentAuthor">
        
        {% if comment.user.fullName %}
          {{ comment.user.fullName }}:
        {% elif comment.user.is_superuser %}
          管理員:
        {% else %}
          {{ comment.user.first_name }}{{ comment.user.last_name }}:
        {% endif %}
      </span>
      <span class="comment">{{ comment.content }}</span>
      <br>
      <span class="text-secondary"><small>{{ comment.pubDateTime|date:'Y-m-d H:i' }}</small></span>
    </div>
  {% endfor %}
  <hr>
{% endfor %}

{% endblock %}

{% block script %}
<script src="{% static '/blog_app/js/deleteConfirm.js' %}"></script>
{% endblock %}