{% extends 'blog_app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
{% endblock %}

{% block title%}文章列表{% endblock %}

{% block content %}
  <p><a class="btn btn-sm btn-dark" href="{% url 'article:articleCreate' %}">新增文章</a></p>
{% for article, comments in articles.items %}
  <div class="container">
    <div class="row">
      <div class="col-3">
      <h3><a href="{% url 'article:articleRead' article.id %}">{{ article.title }}</a></h3>
      </div>
      <div class="col">
      <form method="post" action="{% url 'article:articleDelete' article.id %}">
        {% csrf_token %}
        <input class="btn btn-sm btn-dark deleteConfirm" type="submit" value="刪除">
      </form>
      </div>
    </div>
  </div>

  <p>發表時間{{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
  <div class="articleContent">
    <p class="col-10 text-truncate">{{ article.content }}</p> <!--|linebreaks|truncatechars_html-->
    <footer>
    <div>
      <a href="{% url 'article:articleRead' article.id %}">閱讀更多</a>
    </div>
    </footer>
  </div>
  {% for comment in comments %}
    <div class="mt-1">
      <span class="h6">{{ comment.content }}</span>
      <br>
      <span class="text-secondary"><small>{{ comment.pubDateTime|date:'Y-m-d H:i' }}</small></span>
    </div>
  {% endfor %}
  <hr>
{% endfor %}

{% endblock %}

{% block script %}
<script src="{% static '/blog_app/js/deleteConfirm.js' %}"></script>
{% endblock %}