/*引入google fonts*/
body {
  font-family: 'Noto Sans TC', sans-serif;
}
a {
  color:#85929E
}

.bg-bk {background-color:#B5B5B5;} /*#B5B5B5*/
.btn {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    padding-left: 200px;
    padding-right: 200px;
}

/* Messages */
.success, .error {
    padding: 1em 0 1em 3em;
}

.success {
    background-color: #ddffdd;
    border: thin solid green;
}

.error {
    background-color: #fbd9d8;
    border: thin solid red;
}

#box {
    padding-left: 200px;
    padding-right: 200px;
    font-size: 30px;
    background-color: yellowgreen;
}

#sitebody {
    width:600px;
    margin:0 auto;
    font-size:13px;
}

#header{
    background-color:#FFD4D4;
    height:80px;
    text-align:center;
    line-height:80px;
}

#sidebar_left {
    background-color:#FFECC9;
    width:120px;
    height:400px;
    text-align:center;
    line-height:400px;
    float:left;
}
#sidebar_right {
    background-color:#FFECC9;
    width:120px;
    height:400px;
    text-align:center;
    line-height:400px;
    float:right;
}

#fiif {
    width:600px;
    margin:0 auto;
    font-size:13px;
}

#content {
    margin-left:120px;
    margin-right:120px;
    height:600px;
    /*background-color:blanchedalmond;*/
    /*background-image: url('{% static 'view1.png' %}');*/
    /*background-image: url("{% static 'blog_app/img/view1.png' %}");*/
    background: url("/static/blog_app/img/view1.png");
    text-align:center;
    line-height:600px;
}

#content p{
  font-family: 'Noto Sans Mono', monospace;
}
#content a{
  font-family: 'Noto Sans Mono', monospace;
}
#content h6{
  font-family: 'Noto Sans Mono', monospace;
}
#content h1{
  font-family: 'Noto Sans Mono', monospace;
}

.buttonbox{
    display:inline-block;
    width:30px;
    height:30px;
    background:#c00;
}

.titlebox {
    text-align:center;
    line-height:20px;
    margin:0 auto;
}

.container img {
    width: 18px;
    height: 18px;
  }