<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--引入cdn CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 

  <link rel="stylesheet" href="{% static 'blog_app/css/main.css' %}">
  {% block css %}{% endblock %}

    <!--引入google fonts-->
  <style>
  body {
      font-family: 'Noto Sans TC', sans-serif;
  }
  a {
      color:#85929E
  }
  </style>

</head>


<body>
  <nav class="navbar navbar-expand-sm bg-bk navbar-light">
    <!--宣告一個可折疊按鈕 平常看不出來效果，但當網頁被折疊時就看得到按鈕-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
        
  <!--導覽列-->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <!--下拉式選單-->
            
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog_app:main' %}">首頁</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog_app:about' %}">關於</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'article:article' %}">文章</a>
      </li>
      <li class="nav-item"></li>
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'acc:logout' %}">登出</a>
      {% else %}
        <a class="nav-link" href="{% url 'acc:login' %}">登入</a>
      {% endif %}
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown toggle" href="#" id="navbardrop" data-toggle="dropdown">Flask</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://flask.palletsprojects.com/en/2.0.x/">Flask 1</a>
            <a class="dropdown-item" href="https://zh.wikipedia.org/wiki/Flask">Flask 2</a>
            <a class="dropdown-item" href="https://docs.microsoft.com/zh-tw/learn/modules/python-flask-build-ai-web-app/">Flask 3</a>
          </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'article:articleSearch' %}">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchTerm"
      {% if searchTerm %}value="{{ searchTerm }}"{% endif %}>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
    
  <div class="box mr-3 mb-5">
    <br>
    {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}

    {% block content %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% block script %}{% endblock script %}
</body>
</html>