{% extends 'blog_app/base.html' %}
{% load static %}

{% block title%}部落客{% endblock title %}

{% block css %}
<link rel="shortcut.icon" href="#">
{% endblock %}

{% block content %}
<div id="fiif">
    <div id="content">
      <h1>Django's Blog</h1>
      <h6>record your note</h6>
      <p>{{ mail }}</p>
      <button class="btn btn-outline-secondary">
        <a href="{% url 'acc:login' %}">Sign In</a>
      </button>
      <!--<div class="titlebox"></div>
      <div class="buttonbox"></div>-->
    </div>
    {% include 'blog_app/logoicon.html' %}

    <!--<div class="container" style = "min-height:300px;">
      <div class="row align-items-end" >
         <div class="col-md-12">align-items-end</div>
      </div>
   </div>-->
</div>
{% endblock content %}